.bookmark-title {
  font-size: 25px;
  // overflow: hidden;
  // text-overflow: ellipsis;
  height: 1.75em;
  white-space: nowrap;
}

.bookmark-description {
  color: rgba(55, 53, 47, 0.6);
  font-size: 15px;
  overflow: hidden;
  max-height: 4.5em;
  word-break: break-word;
}

.bookmark-text {
  display: flex;
  font-size: 20px;
  flex-direction: column;
}

.tech-stack {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
}

.custom-bookmark-wrap {
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  .bookmark-text {
    display: flex;
    flex-direction: column;
    color: var(--secondary-color);
  }

  .custom-bookmark-content {
    display: flex;
    flex-direction: row;
    font-size: 15px;
    width: 100%;
    padding-bottom: 5px;

    .custom-bookmark-title {
      color: var(--secondary-color);
      min-width: 100px;
      //   font-size: 15px;
    }
    .custom-bookmark-item {
      font-size: 20px;
    }
  }
}

.image-wrap {
  display: flex;
  justify-content: center;
  align-items: center;
}

@media (max-width: 540px) {
  .bookmark-title {
    font-size: 1.5em;
    height: 1.75em;
  }

  .bookmark-description {
    font-size: 0.7em;
  }

  .bookmark-text {
    font-size: 12px;
  }

  .custom-bookmark-content {
    display: flex;
    flex-direction: column;
    .custom-bookmark-title {
      font-size: 0.8em;
      min-width: 50px;

      .custom-bookmark-item {
        font-size: 0.4em;
      }
    }
  }
}
