.confirm-button {
  background-color: var(--primary-color);
  color: #fff;
  border: 0px;

  &:hover {
    box-shadow: var(--confirm-button-box-shadow-effect);
  }
}

.cancel-button {
  background-color: var(--third-color);
  color: #fff;
  border: 0px;

  &:hover {
    background-color: var(--third-color);
    border: 0px;
    box-shadow: var(--cancel-button-box-shadow-effect);
  }

  &:focus {
    background-color: var(--third-color);
    border: 0px;
    box-shadow: var(--cancel-button-box-shadow-effect);
  }
}

// notice-toast style
.notice-toast {
  background-color: var(--primary-color);
  opacity: 0.7;
  position: fixed;
  z-index: 3;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.notice-toast-header {
  background-color: var(--primary-color);
  color: #fff;
  button {
    color: #fff;
  }
}

.notice-toast-content {
  color: #fff;
}

// load spinner style
.loading-icon {
  width: 72px;
  height: 72px;
  animation: rotate-effect 1s infinite;
}
@keyframes rotate-effect {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

// 글씨 강조
.red-text {
  color: var(--third-color) !important;
}

// 크기 조정
.mw-200px {
  min-width: 200px;
}

.mw-100px {
  min-width: 100px;
  width: 100px;
}
.mw-80px {
  min-width: 80px;
  // width: 80px;
}
.mw-120px {
  min-width: 120px;
  width: 100%;
  // width: 120px;
}

// 콘텐츠 패딩 여백 부여
.p-15px {
  padding: 15px;
}

.top-15px {
  padding: 15px;
}

.right-15px {
  padding-right: 15px;
}

.buttom-15px {
  margin-bottom: 15px;
}

// 정가운데 정렬
.set-center {
  width: 100%;
  height: calc(100vh - 100px);
  display: flex;
  justify-content: center;
  align-items: center;
}

// load 애니메이션
.load-animation {
  height: 100px;
  width: 100px;
}

@media (max-width: 1200px) {
  // load 애니메이션
  .load-animation {
    height: 95px;
    width: 95px;
  }
}
@media (max-width: 960px) {
  // load 애니메이션
  .load-animation {
    height: 90px;
    width: 90px;
  }
}

@media (max-width: 720px) {
  // load 애니메이션
  .load-animation {
    height: 85px;
    width: 85px;
  }
}

@media (max-width: 600px) {
  // load 애니메이션
  .load-animation {
    height: 80px;
    width: 80px;
  }
}

@media (max-width: 480px) {
  // load 애니메이션
  .load-animation {
    height: 75px;
    width: 75px;
  }
}
