.content-wrap {
  display: flex;
  position: relative;
}

.content-container {
  width: 100%;

  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0 0 0 200px;

  .content-block {
    width: calc(100% - 100px);
    margin: 0 10px 0 10px;
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    border-bottom: 1px solid var(--secondary-color);
  }
}

// text-style
.h1 {
  font-size: 24px;
  font-weight: 700;
  margin: 15px 0 10px 0;
}

.h2 {
  font-size: 20px;
  font-weight: 500;
  margin: 5px 0 5px 0;
}

.h3 {
  font-size: 18px;
  font-weight: 500;
  margin: 2px 0 2px 0;
}

.text {
  margin: 5px 5px 5px 15px;
  font-size: 15px;
}

.code-wrap {
  margin: 0 0 0 15px;
  min-width: calc(100% - 50px);
  background-color: var(--secondary-color);
  border-radius: 5px;
  padding: 10px;
}

.code-content {
  color: #fff;
  font-size: 14px;
}

.bold {
  font-weight: 500;
}

// color
.blue {
  color: var(--text-color-blue);
}

.red {
  color: var(--text-color-red);
}
