.content-wrap {
  display: flex;
  flex-direction: column;
  position: relative;
}

// .set-relative {
//   position: relative;
// }

.content-container {
  width: 100%;
  max-width: 100%;
  word-break: keep-all;

  display: flex;
  flex-direction: column;
  align-items: center;

  .content-block {
    width: 100%;
    max-width: 100%;
    padding: 0 10px 0 10px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    // border-bottom: 1px solid var(--secondary-color);
    word-break: keep-all;

    pre {
      width: 95%; //calc(100% - 20px);
      // max-width: 100%;
      white-space: pre-wrap;
      word-wrap: break-word;
      overflow-y: hidden;
      word-break: break-all;
      background-color: var(--code-background-color);

      code {
        word-break: keep-all;
        color: var(--third-color);
        background: none;
      }
    }
  }
}

.is-full {
  padding: 0 0 0 0px;
}

// text-style
.h1 {
  font-size: 24px;
  font-weight: 700;
  margin: 15px 0 10px 0;
}

.h2 {
  font-size: 20px;
  font-weight: 500;
  margin: 5px 0 5px 0;
}

.h3 {
  font-size: 18px;
  font-weight: 500;
  margin: 2px 0 2px 0;
}

.text {
  // margin: 5px 5px 5px 15px;
  font-size: 15px;
}

.code-wrap {
  // margin: 0 0 0 15px;
  // min-width: calc(100% - 50px);
  background-color: var(--secondary-color);
  border-radius: 5px;
  // padding: 10px;
}

.code-content {
  color: #fff;
  font-size: 14px;
}

.bold {
  font-weight: 500;
}

// color
.blue {
  color: var(--text-color-blue);
}

.red {
  color: var(--text-color-red);
}
