.error-wrap {
  width: 100vw;
  height: 100vh;

  display: flex;
  justify-content: center;
  align-items: center;

  .error-container {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    min-width: 350px;
    .warning-image {
      width: 100px;
      margin-top: 20px;
    }

    .warning-text-box {
      min-width: 200px;
    }

    .warning-color {
      color: var(--third-color);
    }
  }
}
