.footer-wrap {
  // position: sticky; //absolute;
  left: 0px;
  bottom: 0px;
  width: 100vw;
  height: 50px;
  // min-width: 550px;
  // margin: 50px 0 0 0;
  background-color: var(--primary-color);

  display: flex;
  justify-content: center;
  align-items: center;

  .footer-container {
    width: 400px;
    height: 100%;
    display: flex;
    justify-content: space-between;

    .footer-block {
      display: flex;
      align-items: center;
    }

    .title {
      color: #fff;
      font-size: 17px;
      font-bold: 600;
    }
    .author {
      color: #fff;
      font-size: 16px;
    }
    .email {
      color: #fff;
      font-size: 16px;
      &:hover {
        cursor: pointer;
      }
    }
  }
}
