/* Header.jsx css */
.slide-wrap {
  width: 100vw;
  height: 25px;
  background: var(--primary-color);

  transition: background-color 0.5s ease-in;
}
.slide-word-wrap {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  cursor: pointer;
}
.slide-word {
  display: inline-block;
  font-size: 20px;
  color: #fff;
  margin-bottom: 10px;
  transition: transform 0.5s ease-in;
  line-height: 100%;
}
.slide-triangle {
  display: inline-block;
  transition: transform 0.5s ease-in;
  /*색 반전 css*/
  filter: brightness(0) invert(1);
  margin-top: 3px;
  width: 20px;
  height: 20px;
}

.slide-wrap:hover {
  background: var(--third-color);
}
.slide-wrap:active {
  background: var(--third-color);
}

.slide-wrap:hover .slide-word {
  transform: translateX(1000px);
}
.slide-wrap:active .slide-word {
  transform: translateX(1000px);
}

.slide-wrap:hover .slide-triangle {
  transform: translateX(1000px);
}
.slide-wrap:active .slide-triangle {
  transform: translateX(1000px);
}

/*반짝반짝 효과*/
@keyframes blink-effect-set {
  50% {
    opacity: 0.4;
  }
}
.blink-effect {
  animation: blink-effect-set 1.5s step-end infinite;
}
.blink-effect:hover {
  animation: none;
}

/*모바일3 헤더 스타일*/
@media (max-width: 300px) {
  .slide-wrap {
    height: 20px;
  }
  .slide-word {
    font-size: 15px;
  }
  .slide-triangle {
    margin-top: 4px;
    width: 12px;
    height: 12px;
  }
}
/* /Header.jsx css */

/* MainContent.jsx css */
.maincontent-wrap {
  width: 100vw;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  margin-top: 50px;
  margin-bottom: 50px;

  // 스크롤 바 숨김
  -ms-overflow-style: none;

  .container {
    width: 50vw;
    display: flex;
    justify-content: center;
  }

  #picture-profile {
    // margin-right: 10px;
    width: 300px;
    // margin-right: 80px;
  }
  .slogun-wrap {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-wrap: nowrap;
    // width: 500px;
    text-align: left;
    // padding: 0 50px 0 0;

    .slogun-word {
      font-size: 35px;
      text-align: justify;

      // text-align-last: right;
      text-justify: distribute;
    }
    .icon-wrap {
      display: flex;
      flex-direction: row;
      flex-wrap: nowrap;
      margin-top: 20px;
      cursor: pointer;

      img {
        width: 50px;
        margin-right: 50px;
        border-radius: 100%;

        /*icon-hover 효과*/
        &:hover {
          box-shadow: 0px 0px 15px 3px var(--primary-light-color);
        }
      }
    }
  }
}

.maincontent-wrap::-webkit-scrollbar {
  display: none;
}

/*태블릿 메인콘텐츠 스타일*/
@media (max-width: 960px) {
  .maincontent-wrap {
    margin-top: 100px;
    margin-bottom: 100px;
    margin-top: 2vw;
    margin-bottom: 2vw;

    .container {
      width: 100vw;
    }

    #picture-profile {
      // margin-right: 20px;
      width: 300px;
    }

    .slogun-wrap {
      // padding: 0 30px 0 0;
      .slogun-word {
        font-size: 24px;

        .icon-wrap {
          display: flex;
          flex-direction: row;
          flex-wrap: nowrap;
          margin-top: 30px;
        }
      }
    }
  }
}

/*모바일1 & 모바일2 메인콘텐츠 스타일*/
@media (max-width: 650px) {
  .maincontent-wrap {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    margin-bottom: 20px;

    #picture-profile {
      // margin-right: 0px;
      width: 250px;
    }

    .slogun-wrap {
      display: flex;
      flex-direction: column;
      justify-content: center;
      flex-wrap: nowrap;
      width: auto;
      text-align: left;
      margin-top: 20px;
      // padding: 0 20px 0 0;

      .slogun-word {
        font-size: 20px;
      }

      .icon-wrap {
        width: 250px;
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        margin-top: 20px;
        margin-bottom: 30px;
        justify-content: space-evenly;

        img {
          width: 50px;
          border-radius: 100%;
          margin-right: 0px;
        }
      }
    }
  }
}

/*모바일3 헤더 스타일*/
@media (max-width: 480px) {
  .slogun-wrap {
    padding: 0 20px 0 0;
  }
  .maincontent-wrap > .slogun-wrap > .icon-wrap {
    margin-bottom: 20px;
  }
}

/*모바일3 헤더 스타일*/
@media (max-width: 300px) {
  .maincontent-wrap > .slogun-wrap {
    .slogun-word {
      font-size: 15px;
      font-weight: bold;
    }
    .icon-wrap > img {
      width: 40px;
      border-radius: 100%;
    }
  }
}
/* /MainContent.jsx css */
