.profile-container {
  width: 100vw;
  position: relative;
}

.profile-wrap {
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding-top: 80px;
  height: calc(100vh - 90px);
  margin-left: calc(5vw + 50px);
  margin-right: calc(5vw + 50px);
}
.profile-wrap > .profile-img {
  width: 300px;
  height: 380px;
}
.profile-wrap > .profile-content-wrap {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: left;
  text-align: left;
}

.profile-wrap > .profile-content-wrap > .profile-content-title {
  margin-bottom: 30px;
}
.profile-wrap
  > .profile-content-wrap
  > .profile-content-title
  > .profile-title-head {
  font-size: 30px;
  font-weight: bold;
  text-shadow: 2px 2px 2px rgba(0 0 0 / 15%);
}
.profile-wrap
  > .profile-content-wrap
  > .profile-content-title
  > profile-title-content {
  font-size: 20px;
  font-weight: normal;
}
.profile-wrap > .profile-content-wrap > .profile-content-part {
  margin-bottom: 20px;
}
.profile-wrap
  > .profile-content-wrap
  > .profile-content-part
  > .profile-part-head {
  font-size: 25px;
  font-weight: bold;
}
.profile-wrap
  > .profile-content-wrap
  > .profile-content-part
  > .profile-part-sub-head {
  font-size: 18px;
  font-weight: bold;
}
.profile-wrap
  > .profile-content-wrap
  > .profile-content-part
  > .profile-part-content {
  font-size: 15px;
  font-weight: normal;
}

.margin-right-style {
  margin-left: 30px;
}

.partition {
  display: flex;
  flex-direction: row;
  justify-content: left;
  flex-wrap: wrap;
}

.icon-wrap {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
.icon-wrap > img {
  margin-right: 2px;
}

/*페이지 아래 전환*/
.slide-to-see-down {
  display: flex;
  flex-direction: row;
  align-content: center;
  justify-content: center;

  position: fixed;
  bottom: 30px;
  left: calc(50vw - 7.5px - 6em);
  cursor: pointer;
}
.slide-to-see-down > img {
  margin-top: 3px;
  width: 15px;
  height: 15px;
}
.slide-to-see-down > span {
  color: #d9d9d9;
  font-size: 15px;
}
.slide-to-see-down:hover {
  text-shadow: 0px 0px 3px #d9d9d9;
}

/*click 이후 scroll 안내 div*/
.scroll-to-see-down {
  display: flex;
  flex-direction: row;
  align-content: center;
  justify-content: center;
  left: calc(50vw - 7.5px - 6em);
}
.scroll-to-see-down > span {
  color: #d9d9d9;
  font-size: 15px;
}

/*위/아래 변경 시 효과 설정*/
.content-up {
  transition: opacity 0.5s ease-in;
}
#slide-to-see-down-checkbox:checked .content-up {
  opacity: 0;
}

/*화살표*/
.arrow-left {
  position: fixed;
  top: calc(50vh - 25px + 45px);
  left: 2vw;
  width: 50px;
  border-radius: 100px;
}
.arrow-right {
  position: fixed;
  top: calc(50vh - 25px + 45px);
  right: 2vw;
  width: 50px;
  border-radius: 100px;
}
.arrow-left:hover {
  box-shadow: 0px 0px 15px 3px var(--primary-light-color);
}
.arrow-right:hover {
  box-shadow: 0px 0px 15px 3px var(--primary-light-color);
}

a {
  text-decoration: none;
}

/*반짝반짝 효과*/
@keyframes blink-effect-set {
  50% {
    opacity: 0.4;
  }
}
.blink-effect {
  animation: blink-effect-set 1.5s step-end infinite;
}
.blink-effect:hover {
  animation: none;
}

@media (max-width: 1200px) {
  .profile-title-head {
    font-size: 25px !important;
  }
  .profile-title-content {
    font-size: 18px !important;
  }
  .profile-part-head {
    font-size: 20px !important;
    font-weight: bold !important;
  }
  .profile-part-sub-head {
    font-size: 15px !important;
  }
  .profile-part-content {
    font-size: 12px !important;
  }
}
@media (max-width: 960px) {
  .profile-img {
    width: 250px !important;
    height: 310px !important;
  }
  .profile-wrap {
    flex-direction: column !important;
    flex-wrap: nowrap !important;
    align-items: center !important;
    padding-top: 0px !important;
    width: calc(90vw - 100px) !important;
  }
  .profile-content-title {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: left;
    padding-top: 20px;
    margin-left: 10px;
  }
  .profile-content-wrap {
    flex-direction: row !important;
    justify-content: center !important;
    align-items: left;
    width: calc(90vw - 100px) !important;
  }
  .profile-content-wrap-bottom {
    flex-direction: column !important;
    justify-content: center !important;
    align-items: center !important;
    width: 100% !important;
  }
  .profile-content-part {
    display: flex;
    flex-direction: column;
    justify-content: left !important;
    align-items: left !important;
    padding-top: 20px;
  }
  .profile-part-head {
    font-size: 22px !important;
    font-weight: bold !important;
  }
  .profile-part-sub-head {
    font-size: 18px !important;
  }
  .profile-part-content {
    font-size: 15px !important;
  }
  .icon-wrap {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    max-width: 100% !important;
  }
  .icon-wrap .icon-img {
    margin-right: 3px;
  }
}
@media (max-width: 720px) {
  .profile-img {
    width: 180px !important;
    height: 230px !important;
  }
  .profile-content-wrap {
    margin-left: 0px !important;
  }
  .profile-content-part {
    padding-left: 0px !important;
  }
  .profile-title-head {
    font-size: 22px !important;
  }
  .profile-title-content {
    font-size: 15px !important;
  }
  .profile-part-head {
    font-size: 15px !important;
    font-weight: bold !important;
  }
  .profile-part-sub-head {
    font-size: 13px !important;
  }
  .profile-part-content {
    font-size: 12px !important;
  }
  .icon-img {
    margin-right: 3px;
    height: 20px;
  }
}
