.sidebar-wrap {
  position: sticky;
  top: 90px;
  left: 0px;
  min-width: 200px;
  width: 200px;
  height: calc(100vh - 91px);

  display: flex;
  flex-direction: column;
  border: 1px solid var(--secondary-color);
}

.sidebar-container {
  display: flex;
  align-items: center;
  padding: 20px;

  span {
    font-size: 20px;
    cursor: pointer;
  }

  span:hover {
    font-size: 20px;
    font-weight: 500;
    color: var(--primary-color);
  }
}

.in-active {
  display: none;
}

// Bootsrtap style
.offcanvas-header {
  .btn-close:hover {
    border: 0px solid #fff !important;
  }
  .btn-close:focus {
    border: 0px solid #fff !important;
  }
}
