.sidebar-wrap {
  position: fixed;
  top: 90px;
  left: 0px;
  min-width: 200px;
  width: 200px;
  height: calc(100vh - 90px - 50px);

  display: flex;
  flex-direction: column;
}

.sidebar-container {
  display: flex;
  align-items: center;
  padding: 20px;
}
