@charset "UTF-8";
/*기본 헤더 스타일*/
.header-basic {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  width: 100vw;
  height: 90px;
  min-width: 550px;
  border-bottom: 2px solid var(--primary-color);
}
.header-basic .main-logo {
  margin-left: 10px;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: center;
  cursor: pointer;
}
.header-basic .main-logo .big-font {
  font-size: 32px;
  font-weight: bold;
}
.header-basic .main-logo .small-font {
  font-size: 25px;
  font-weight: bold;
}

/*메뉴 토글 활성화 헤더 스타일*/
.header-changed {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  background: var(--primary-color);
  border-bottom: 2px solid #fff;
  height: 90px;
}
.header-changed .main-logo-changed {
  margin-left: 10px;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: center;
}
.header-changed .main-logo-changed .big-font {
  font-size: 32px;
  font-weight: bold;
  color: #fff;
}
.header-changed .main-logo-changed .small-font {
  font-size: 25px;
  font-weight: bold;
  color: #fff;
}

/*메뉴 토글*/
#menu-toggle {
  position: absolute;
  z-index: 1;
  top: 0.5em;
  right: 0.5em;
  /* 체크박스가 체크되면 변경 이벤트 */
  /*토글 버튼 hover효과*/
}
#menu-toggle .toggleSwitch {
  width: 8rem;
  margin: 1rem;
  height: 3rem;
  display: block;
  position: relative;
  border-radius: 2rem;
  background-color: #fff;
  box-shadow: 0 0 1rem 3px rgba(0, 0, 0, 0.15);
  cursor: pointer;
}
#menu-toggle .toggleSwitch .toggleButton {
  width: 2.6rem;
  height: 2.6rem;
  position: absolute;
  top: 50%;
  left: 0.2rem;
  transform: translateY(-50%);
  border-radius: 50%;
  background: var(--primary-color);
  box-shadow: 0px 0px 5px 1.5px var(--primary-color) inset;
}
#menu-toggle .menu-font {
  color: var(--primary-color);
  font-size: 15px;
  font-weight: bold;
  position: absolute;
  z-index: 2;
  top: 2em;
  right: 4.5em;
}
#menu-toggle #toggle:checked ~ .toggleSwitch {
  background: var(--third-color);
}
#menu-toggle #toggle:checked ~ .toggleSwitch .toggleButton {
  left: calc(100% - 2.8rem);
  background: #fff;
  box-shadow: 0px 0px 4px 2px #d9e1e8 inset;
}
#menu-toggle #toggle:checked ~ .menu-font {
  color: #fff;
}
#menu-toggle .toggleSwitch,
#menu-toggle .toggleButton,
#menu-toggle .menu-font {
  transition: all 0.2s ease-in;
}
#menu-toggle .toggleButton:hover {
  box-shadow: 0px 0px 15px 3px var(--primary-light-color);
  cursor: pointer;
}

/*태블릿 헤더 스타일*/
@media (max-width: 960px) {
  /*메뉴 토글*/
  #menu-toggle {
    top: 0.5em;
    right: 1em;
  }
}
/*모바일1 헤더 스타일*/
@media (max-width: 600px) {
  .header-basic {
    height: 70px;
  }
  .header-basic .main-logo {
    margin-left: 8px;
  }
  .header-basic .main-logo .big-font {
    font-size: 26px;
  }
  .header-basic .main-logo .small-font {
    font-size: 20px;
  }
  /*메뉴 토글 활성화 헤더 스타일*/
  .header-changed {
    height: 70px;
  }
  .header-changed .main-logo-changed {
    margin-left: 8px;
  }
  .header-changed .main-logo-changed .big-font {
    font-size: 26px;
  }
  .header-changed .main-logo-changed .small-font {
    font-size: 20px;
  }
  /*메뉴 토글*/
  #menu-toggle {
    top: 0.5em;
    right: 0.5em;
    /* 체크박스가 체크되면 변경 이벤트 */
  }
  #menu-toggle .toggleSwitch {
    width: 6rem;
    margin: 1rem;
    height: 2.2rem;
  }
  #menu-toggle .toggleSwitch .toggleButton {
    width: 1.8rem;
    height: 1.8rem;
  }
  #menu-toggle .menu-font {
    font-size: 12px;
    top: 2em;
    right: 4.3em;
  }
  #menu-toggle #toggle:checked ~ .toggleSwitch .toggleButton {
    left: calc(100% - 2em);
  }
}
/*모바일2 헤더 스타일*/
@media (max-width: 480px) {
  /*메뉴 토글*/
  #menu-toggle {
    top: 0.7em;
    right: 0.01em;
  }
  #menu-toggle .toggleSwitch {
    margin: 0.5rem;
  }
  #menu-toggle .menu-font {
    top: 1.5em;
    right: 3.8em;
  }
}
/*모바일3 헤더 스타일*/
@media (max-width: 300px) {
  .header-basic {
    height: 60px;
  }
  .header-basic .main-logo {
    margin-left: 6px;
  }
  .header-basic .main-logo .big-font {
    font-size: 19px;
  }
  .header-basic .main-logo .small-font {
    font-size: 15px;
  }
  /*메뉴 토글 활성화 헤더 스타일*/
  .header-changed {
    height: 60px;
  }
  .header-changed .main-logo-changed {
    margin-left: 6px;
  }
  .header-changed .main-logo-changed .big-font {
    font-size: 20px;
  }
  .header-changed .main-logo-changed .small-font {
    font-size: 15px;
  }
  /*메뉴 토글*/
  #menu-toggle {
    top: 0.5em;
    right: 0.5em;
    /* 체크박스가 체크되면 변경 이벤트 */
  }
  #menu-toggle .toggleSwitch {
    width: 5rem;
    margin: 0.5rem;
    height: 1.8rem;
  }
  #menu-toggle .toggleSwitch .toggleButton {
    width: 1.6rem;
    height: 1.6rem;
  }
  #menu-toggle .menu-font {
    font-size: 10px;
    z-index: 2;
    top: 1.5em;
    right: 3.8em;
  }
  #menu-toggle #toggle:checked ~ .toggleSwitch .toggleButton {
    left: calc(100% - 1.8em);
  }
}/*# sourceMappingURL=Header.css.map */