.profileContainer {
  position: relative;
}

.profileWrap {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: calc(100vh - 90px);
  margin-left: calc(5vw + 50px);
  margin-right: calc(5vw + 50px);

  .profileImage {
    width: 300px;
    height: 380px;
  }

  .profileContentWrap {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: left;
    text-align: left;

    .profileContentTitle {
      margin-bottom: 30px;

      .profileTitleHead {
        font-size: 30px;
        font-weight: bold;
        text-shadow: 2px 2px 2px rgba(0 0 0 / 15%);
      }

      .profileTitleContent {
        font-size: 20px;
        font-weight: normal;
      }
    }

    .profileContentPart {
      margin-bottom: 20px;

      .profilePartHead {
        font-size: 25px;
        font-weight: bold;
      }

      .profilePartSubHead {
        font-size: 18px;
        font-weight: bold;
      }

      .profilePartContent {
        font-size: 15px;
        font-weight: normal;
      }
    }
  }
}

.marginRightStyle {
  margin-left: 30px;
}

.partition {
  display: flex;
  flex-direction: row;
  justify-content: left;
  flex-wrap: wrap;
}

.iconWrap {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  max-width: calc((100vw - (10vw + 100px)) / 2 - 30px);

  .iconImg {
    margin-right: 3px;
  }
}

/*페이지 아래 전환*/
.slideToSeeDown {
  display: flex;
  flex-direction: row;
  align-content: center;
  justify-content: center;

  position: fixed;
  bottom: 30px;
  left: calc(50vw - 7.5px - 6em);
  cursor: pointer;

  .triangleImg {
    margin-top: 3px;
    width: 15px;
    height: 15px;
  }

  span {
    color: #d9d9d9;
    font-size: 15px;
  }

  &:hover {
    text-shadow: 0px 0px 3px #d9d9d9;
  }
}

/*click 이후 scroll 안내 div*/
.scrollToSeeDown {
  display: flex;
  flex-direction: row;
  align-content: center;
  justify-content: center;
  left: calc(50vw - 7.5px - 6em);

  span {
    color: #d9d9d9;
    font-size: 15px;
  }
}

/*위/아래 변경 시 효과 설정*/
.contentUp {
  transition: opacity 0.5s ease-in;
}
#slideToSeeDownCheckbox:checked .contentUp {
  opacity: 0;
}

/*화살표*/
.arrowLeft {
  position: fixed;
  top: calc(50vh - 25px + 45px);
  left: 2vw;
  width: 50px;
  border-radius: 100px;

  &:hover {
    box-shadow: 0px 0px 15px 3px #78c4fa;
  }
}
.arrowRight {
  position: fixed;
  top: calc(50vh - 25px + 45px);
  right: 2vw;
  width: 50px;
  border-radius: 100px;

  &:hover {
    box-shadow: 0px 0px 15px 3px #78c4fa;
  }
}

/*반짝반짝 효과*/
@keyframes blinkEffectSet {
  50% {
    opacity: 0.4;
  }
}
.blinkEffect {
  animation: blinkEffectSet 1.5s step-end infinite;

  &:hover {
    animation: none;
  }
}
// PC ver: 960 ~ 1200px
@media (max-width: 1200px) {
  .profileTitleHead {
    font-size: 25px !important;
  }

  .profileTitleContent {
    font-size: 18px !important;
  }
  .profilePartHead {
    font-size: 20px !important;
    font-weight: bold !important;
  }

  .profilePartSubHead {
    font-size: 15px !important;
  }

  .profilePartContent {
    font-size: 12px !important;
  }
}
// Tablet ver: 720 ~ 960px
@media (max-width: 960px) {
  .profileImage {
    width: 250px !important;
    height: 310px !important;
  }
  .profileWrap {
    flex-direction: column !important;
    flex-wrap: wrap !important;
    align-items: center !important;
    padding-top: 0px !important;
  }
  .profileContentTitle {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: left;
    padding-top: 20px;
    margin-left: 10px;
  }
  .profileContentWrap {
    flex-direction: row !important;
    justify-content: center !important;
    width: 100%;
  }
  .profileContentPart {
    display: flex;
    flex-direction: column;
    justify-content: center !important;
    align-items: left;
    padding-top: 20px;
    padding-left: 10vw;
    width: 100%;
  }
  .profilePartHead {
    font-size: 22px !important;
    font-weight: bold !important;
  }

  .profilePartSubHead {
    font-size: 18px !important;
  }

  .profilePartContent {
    font-size: 15px !important;
  }
}
