@charset "UTF-8";
.profile-container {
  position: relative;
}

.profile-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding-top: 80px;
  height: calc(100vh - 90px);
  margin-left: calc(5vw + 50px);
  margin-right: calc(5vw + 50px);
}

.profile-wrap > .profile-img {
  width: 300px;
  height: 380px;
}

.profile-wrap > .profile-content-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -webkit-box-pack: left;
      -ms-flex-pack: left;
          justify-content: left;
  text-align: left;
}

.profile-wrap > .profile-content-wrap > .profile-content-title {
  margin-bottom: 30px;
}

.profile-wrap > .profile-content-wrap > .profile-content-title > .profile-title-head {
  font-size: 30px;
  font-weight: bold;
  text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.15);
}

.profile-wrap > .profile-content-wrap > .profile-content-title > profile-title-content {
  font-size: 20px;
  font-weight: normal;
}

.profile-wrap > .profile-content-wrap > .profile-content-part {
  margin-bottom: 20px;
}

.profile-wrap > .profile-content-wrap > .profile-content-part > .profile-part-head {
  font-size: 25px;
  font-weight: bold;
}

.profile-wrap > .profile-content-wrap > .profile-content-part > .profile-part-sub-head {
  font-size: 18px;
  font-weight: bold;
}

.profile-wrap > .profile-content-wrap > .profile-content-part > .profile-part-content {
  font-size: 15px;
  font-weight: normal;
}

.margin-right-style {
  margin-left: 30px;
}

.partition {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: left;
      -ms-flex-pack: left;
          justify-content: left;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.icon-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.icon-wrap > img {
  margin-right: 2px;
}

/*페이지 아래 전환*/
.slide-to-see-down {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: fixed;
  bottom: 30px;
  left: calc(50vw - 7.5px - 6em);
  cursor: pointer;
}

.slide-to-see-down > img {
  margin-top: 3px;
  width: 15px;
  height: 15px;
}

.slide-to-see-down > span {
  color: #d9d9d9;
  font-size: 15px;
}

.slide-to-see-down:hover {
  text-shadow: 0px 0px 3px #d9d9d9;
}

/*click 이후 scroll 안내 div*/
.scroll-to-see-down {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  left: calc(50vw - 7.5px - 6em);
}

.scroll-to-see-down > span {
  color: #d9d9d9;
  font-size: 15px;
}

/*위/아래 변경 시 효과 설정*/
.content-up {
  -webkit-transition: opacity 0.5s ease-in;
  transition: opacity 0.5s ease-in;
}

#slide-to-see-down-checkbox:checked .content-up {
  opacity: 0;
}

/*화살표*/
.arrow-left {
  position: fixed;
  top: calc(50vh - 25px + 45px);
  left: 2vw;
  width: 50px;
  border-radius: 100px;
}

.arrow-right {
  position: fixed;
  top: calc(50vh - 25px + 45px);
  right: 2vw;
  width: 50px;
  border-radius: 100px;
}

.arrow-left:hover {
  -webkit-box-shadow: 0px 0px 15px 3px #78c4fa;
          box-shadow: 0px 0px 15px 3px #78c4fa;
}

.arrow-right:hover {
  -webkit-box-shadow: 0px 0px 15px 3px #78c4fa;
          box-shadow: 0px 0px 15px 3px #78c4fa;
}

a {
  text-decoration: none;
}

/*반짝반짝 효과*/
@-webkit-keyframes blink-effect-set {
  50% {
    opacity: 0.4;
  }
}
@keyframes blink-effect-set {
  50% {
    opacity: 0.4;
  }
}
.blink-effect {
  -webkit-animation: blink-effect-set 1.5s step-end infinite;
          animation: blink-effect-set 1.5s step-end infinite;
}

.blink-effect:hover {
  -webkit-animation: none;
          animation: none;
}