// styled-component 전역 변수 선언
:root {
  // main color 지정
  --primary-color: #2b90d9;
  --secondary-color: rgb(120, 120, 135);
  --third-color: #f06548;

  --primary-light-color: #78c4fa;
}

// 일반 css/scss 전역변수 선언
// main color 지정
$primary-color: #2b90d9;
$secondary-color: rgb(120, 120, 135);
$third-color: #f06548;

$primary-light-color: #78c4fa;
