// styled-component 전역 변수 선언
:root {
  // main color 지정
  --primary-color: #000; //#2b90d9;
  --secondary-color: #6e6e6e; //rgb(120, 120, 135);
  --third-color: #f06548;

  --primary-light-color: #aaa; //#78c4fa;

  // button box shadow effect
  --confirm-button-box-shadow-effect: 0px 0px 15px 3px
    var(--primary-light-color);
  --cancel-button-box-shadow-effect: 0px 0px 3px 3px rgba(240, 101, 72, 0.4);

  // text color
  --text-color-blue: rgba(51, 126, 169, 1);
  --text-color-red: $third-color;
  --code-background-color: rgba(135, 131, 120, 0.15);
}

// 일반 css/scss 전역변수 선언
// main color 지정
$primary-color: #2b90d9;
$secondary-color: #6e6e6e; // rgb(120, 120, 135);
$third-color: #f06548;

$primary-light-color: #78c4fa;

$confirm-button-box-shadow-effect: 0px 0px 3px 3px var(--primary-light-color);
$cancel-button-box-shadow-effect: 0px 0px 3px 3px rgba(240, 101, 72, 0.4);
