:root {
  --primary-color: #2b90d9;
  --secondary-color: #6e6e6e;
  --third-color: #f06548;
  --primary-light-color: #78c4fa;
  --confirm-button-box-shadow-effect: 0px 0px 3px 3px #78c4fa;
  --cancel-button-box-shadow-effect: 0px 0px 3px 3px rgba(240, 101, 72, 0.4);
  --text-color-blue: rgba(51, 126, 169, 1);
  --text-color-red: $third-color;
}